@{
    ViewBag.Title = ":: Pick Any ::";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@*<div class="login-header">
    <div class="brand">
        <span style="display: block; margin: 0px auto; text-align: center;"><img src="~/img/logo.png" height="100" width="200" /></span>
    </div>
    <div class="icon">
        <i class="fa fa-sign-in"></i>
    </div>
</div>*@

<div class="login-content">
    @Html.Partial("_SFMessage")
    @Html.Partial("_Login")
</div>