@model PickAny_.Model.IndustryMaster
@{
    ViewBag.Title = "Industry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<label>&nbsp;</label>
<div id="content" class="content">
    <!-- begin breadcrumb -->
    <div id="overlay">
        <div style="margin-top: 20%;margin-left: 50%;">
            <img src="~/Images/301.gif" height="80" width="80" />
        </div>
    </div>
    @Html.Partial("_SFMessage")
    <div class="row">
        <!-- begin col-8 -->
        <div class="col-md-12">
            <div class="panel panel-inverse" @*data-sortable-id="index-1"*@>
                <div class="panel-heading">
                    <h4 class="panel-title"><i class="fa fa-user"></i> Industry Master</h4>
                    <div class="panel-heading-btn pnlbtn">
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-success" data-click="panel-reload"><i class="fa fa-repeat"></i></a>
                        <a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="panel panel-inverse">
                        <div class="panel-body">
                            @using (Html.BeginForm("industry", "master", FormMethod.Post, new { @id = "Form", @class = "form-horizontal" }))
                            {
                                if (TempData["industry"] != null)
                                {
                                    <br />
                                    if (TempData["industry"].ToString().ToLower() == "true")
                                    {
                                        <div class="alert alert-success">
                                            <button class="close" data-dismiss="alert">×</button>
                                            <strong>Success!</strong> Industry Added Successfully !
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="alert alert-error">
                                            <button class="close" data-dismiss="alert">×</button>
                                            <strong>Error!</strong> Industry Already Exists!
                                        </div>
                                    }
                                }
                                <div>
                                    <button type="button" class="btn btn-info btn-large" data-toggle="modal" data-target="#exampleModal">
                                        <i class="glyphicon glyphicon-plus-sign"></i>  Add Indutry
                                    </button>
                                </div>
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle">Add Indutry</h5>
                                                </div>
                                                <div class="modal-body">
                                                    <table width="100%">
                                                        <tr>
                                                            <td><label for="Title">Indutry Name*</label></td>
                                                            <td>
                                                                @Html.TextBoxFor(c => c.Name, new { @class = "form-control", @required = "required" })
                                                                @Html.ValidationMessageFor(c => c.Name)
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td><label for="Title">IsActive</label></td>
                                                            <td>
                                                                @Html.CheckBoxFor(c=>c.IsActive)
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" id="save" class="btn btn-primary">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            }
                            <div class="widget-box">
                                @{Html.RenderAction("IndustryList");}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #overlay {
        position: fixed;
        z-index: 99999;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(255,255,255,0.5);
        transition: 1s 0.4s;
    }
</style>