@*@Styles.Render("~/materialize/css")*@

<div class="row section">
    <div class="col">
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add Clients</a>
        <p></p>
    </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="modal-content">
            <p>
                <div id="ember1804" class="ember-view">
                    <div id="ember1804" class="ember-view">
                        <div id="ember1805" class="ember-view col-header form-header">
                            <div class="form-header">
                                <h3 class="col-header-title title">
                                    Basic Information
                                </h3>
                                <!---->
                            </div>
                        </div><div id="ember1806" class="ember-view fixed-label input-field is-valid"><div class="joist-input-container-wrapper"><input id="name" type="text" class="  is-valid   ember-view ember-text-field"><label for="name" style="" class="true">Name</label><!----></div><!----></div><div id="ember1807" class="ember-view fixed-label input-field is-valid"><div class="joist-input-container-wrapper"><input id="email" type="text" class="  is-valid   ember-view ember-text-field"><label for="email" style="" class="false">Email Address</label><!----></div><!----></div><div id="ember1808" class="ember-view fixed-label input-field is-valid"><div class="joist-input-container-wrapper"><input id="phoneMobile" type="text" class="  is-valid   ember-view ember-text-field"><label for="phoneMobile" style="" class="false">Phone (mobile)</label><!----></div><!----></div><div id="ember1809" class="ember-view fixed-label input-field is-valid"><div class="joist-input-container-wrapper"><input id="phoneOther" type="text" class="  is-valid   ember-view ember-text-field"><label for="phoneOther" style="" class="false">Phone (other)</label><!----></div><!----></div><div id="ember1810" class="ember-view col-header form-header">
                            <div class="form-header">
                                <h3 class="col-header-title title">
                                    Additional Information
                                </h3>
                                <!---->
                            </div>
                        </div>
                        <div id="ember1811" class="ember-view fixed-label input-field is-valid">
                        <div class="joist-input-container-wrapper">
                            <input id="address1" type="text" class="  is-valid   ember-view ember-text-field"><label for="address1" style="" class="false">Address</label><!----></div><!----></div><div id="ember1812" class="ember-view fixed-label input-field is-valid"><div class="joist-input-container-wrapper"><input id="address2" type="text" class="  is-valid   ember-view ember-text-field"><label for="address2" style="" class="false">Address 2</label><!----></div><!----></div><div id="ember1813" class="ember-view fixed-label input-field is-valid"><div class="joist-input-container-wrapper"><input id="city" type="text" class="  is-valid   ember-view ember-text-field"><label for="city" style="" class="false">City</label><!----></div><!----></div><div id="ember1814" class="ember-view fixed-label input-field is-valid"><div class="joist-input-container-wrapper"><input id="state" type="text" class="  is-valid   ember-view ember-text-field"><label for="state" style="" class="false">State</label><!----></div><!----></div><div id="ember1815" class="ember-view fixed-label input-field is-valid"><div class="joist-input-container-wrapper"><input id="zip" type="text" class="  is-valid   ember-view ember-text-field"><label for="zip" style="" class="false">Zip / Postal Code</label><!----></div><!----></div><div id="ember1816" class="ember-view input-field input-field-textarea fixed-label input-field is-valid"><div class="joist-input-container-wrapper"><textarea id="ember1817" class="materialize-textarea  ember-view ember-text-area" style="height: 24.4px;"><!----></textarea><label class="false">Private Notes</label></div></div>
                    </div>
                </div>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>
@Scripts.Render("~/AdminLTE/plugins/jquery/js")

@*@Scripts.Render("~/materialize/js")*@
